.center{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    
}
// .login{
//     background-image: radial-gradient(grey, rgb(255, 0, 179)) !important;

// }